body {
    font-family: Arial, sans-serif;
}

.image-container {
    position: relative;
    display: inline-block;
}

#clickable-image {
    width: 300px; /* Adjust size as necessary */
    cursor: pointer;
}

