@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: Playwrite GB S, Arial, sans-serif;
    background-image: url("../images/Untitled design (1).png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.story-text {
    font-size: 170%;
    text-align: center;
    color: black;
    
}
.image-container {
    position: relative;
    display: inline-block;
    left: 50%;
    margin-top: 60px;

}



#clickable-image {
    width: 200px; 
    cursor: pointer;
    
}
.clickable-image {
    width: 200px; 
    cursor: pointer;
}

.speech-bubble {
    position: absolute;
    top: -70px;  /* Position above the image */
    left: 50px;  /* Adjust to position relative to image */
    background-color: #f9f9f9;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    display: none; /* Hidden by default */
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.speech-bubble:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent; 
}

.speech-bubble p {
    margin: 0;
    font-size: 25px;
}
.speech-bubble-2 {
    position: absolute;
    top: -100px;  /* Position above the image */
    left: 50px;  /* Adjust to position relative to image */
    background-color: #f9f9f9;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    display: none; /* Hidden by default */
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.speech-bubble-2:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent; 
}

.speech-bubble-2 p {
    margin: 0;
    font-size: 25px;
}

.additional-images {
    display: flex;               
    justify-content: space-between;        
    width: 100%;                
    max-width: 1200px;                   
    padding:  20px; 
    right: 50%; 
}
           
#speech-bubble-1 {
    width: auto;
}
#speech-bubble-2 {
    width: auto;
}
#speech-bubble-3 {
    width: auto;
}
.bottom-box {
    margin: 20px;
    padding: 50px;
}
.btn {
display: inline-block;
margin-left: 50%;
font-size: 200%;
  }